<h1> Contato </h1>

<ul>
    <li>
        <p> Perfil no  <a href="https://github.com/YuryRegis/"> GitHub </a>. </p>
    </li>
    <li>
        <p> Perfil no  <a href="https://www.linkedin.com/in/yuryregis/"> Linkedin </a>. </p>
    </li>
</ul>