<div class="jumbotron">

    <h1 class="display-4">Contato</h1>
    <hr class="my-4">
    <p class="lead"> Perfil no  <a href="https://github.com/YuryRegis/"> GitHub </a>. </p>
    <p class="lead"> Perfil no  <a href="https://www.linkedin.com/in/yuryregis/"> Linkedin </a>. </p>

</div>