<div class="jumbotron">

  <h1 class="display-4">MeetingApp</h1>
  <hr class="my-4">
  <p class="lead">Gerencie salas de reuniões de qualquer lugar!</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie sua conta</a>

</div>