<div class="jumbotron">
    <h1> MeetingApp <h1>
        <p>
            Gerencie salas de reuniões de qualquer lugar!
        </p>
        <p>
            <%= link_to "Crie sua conta", "/users/new", class: "btn btn-primary btn-lg" %>
        </p>
</div>
